<section class="details">
  <header>
    <h2>{{ mode === detailsMode.Edit ? originalIngredient.name : 'New Ingredient' }}</h2>
    <button mat-raised-button color="warn"
      (click)="confirmDelete()"
      *ngIf="mode === detailsMode.Edit"
    >
        Delete
      </button>
  </header>

  <form [formGroup]="ingredientDetailsForm" (submit)="save(ingredientDetailsForm.value)">
    <mat-form-field class="full-width-field" appearance="standard">
      <mat-label>Ingredient name</mat-label>
      <input matInput formControlName="name" required />
      <mat-error *ngIf="ingredientDetailsForm.get('name').hasError('required')">
        Ingredient name is required
      </mat-error>
    </mat-form-field>

    <section class="form-actions">
      <button class="cancel" type="button"
        mat-raised-button
        (click)="cancel()"
      >
        Cancel
      </button>
      <button class="update" type="submit" color="primary"
        mat-raised-button
        [disabled]="!ingredientDetailsForm.valid"
      >
        {{ mode === detailsMode.Edit ? 'Update' : 'Create' }}
      </button>
    </section>

  </form>
</section>
