<section class="details">
  <h1>{{ recipe.name }}</h1>
  <button mat-raised-button
    color="primary"
    (click)="edit()"
  >
    Edit
  </button>
  <section class="tags" *ngIf="recipe.tags.length">
    <h2>Tags</h2>
    <mat-chip-list aria-label="Tags">
      <mat-chip *ngFor="let tag of recipe.tags" [disableRipple]="true">
        {{ tag.name }}
      </mat-chip>
    </mat-chip-list>
  </section>
  <section class="times">
    <article>
      <h2>Prep Time (mins)</h2>
      <div>{{ recipe.prepTime }}</div>
    </article>
    <article>
      <h2>Cook Time (mins)</h2>
      <div>{{ recipe.cookTime }}</div>
    </article>
    <article>
      <h2>Total Time (mins)</h2>
      <div>{{ recipe.cookTime + recipe.prepTime }}</div>
    </article>
  </section>
  <section class="found-from" *ngIf="recipe.foundFrom">
    <h2>Found From</h2>
    <a [href]="recipe.foundFrom" target="_blank" rel="noopener">
      {{ recipe.foundFrom }}
    </a>
  </section>
  <section class="notes" *ngIf="recipe.notes">
    <h2>Notes</h2>
    <div [innerHTML]="recipe.notes"></div>
  </section>
  <section class="description" *ngIf="recipe.description">
    <h2>Description</h2>
    <div>{{ recipe.description }}</div>
  </section>
  <section class="ingredients" *ngIf="recipe.ingredients">
    <h2>Ingredients</h2>
    <ul>
      <li *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.qty }} {{ ingredient.unit.name }} {{ ingredient.details.name }}
      </li>
    </ul>
  </section>
  <section class="directions" *ngIf="recipe.directions">
    <h2>Directions</h2>
    <ol>
      <li *ngFor="let direction of recipe.directions">
        {{ direction.detail }}
      </li>
    </ol>
  </section>
</section>
