@import '../details';

h2 {
  display: inline-block;
}

textarea {
  min-height: 5em;
}

#top-action {
  float: right;
}

.add-ingredient > mat-form-field {
  margin-right: 1rem;
}

.ingredients {
  .info {
    vertical-align: super;
  }
}

.action {
  &.reorder {
    cursor: move;
  }

  &.delete {
    cursor: pointer;
  }

  min-width: 2em;
  text-align: center;
}

.directions {
  margin-top: 1em;
}

.direction {
  display: flex;
  align-items: center;
}

.form-actions {
  float: right;
  text-align: right;

  .cancel {
    margin-right: 1em;
  }
}
