$grey: rgba(219,204,219,0.66);

.ingredient-list {
  margin: 1em auto;
  max-width: 40em;
}

.ingredient {
  margin-bottom: 1em;
  box-shadow: 7px 4px 18px -1px $grey;
  padding: 1em;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: $grey;
  }
}
