header {
  background-color: #000;
  color: #fff;
}

.home {
  margin: 0;
  text-align: center;
  cursor: pointer;
  outline: none;
}

nav > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;

  li {
    margin-top: 0;
    padding: 1rem;
    display: inline-block;
    cursor: pointer;
    outline: none;

    &.active,
    &:hover {
      background-color: #fff;
      color: #000;
    }
  }
}
