<section class="details">
    <form [formGroup]="recipeDetailsForm" (submit)="save(recipeDetailsForm.value)">
        <section class="information">
            <h2>Information</h2>
            <span class="form-actions">
                <button class="cancel" type="button" mat-raised-button (click)="cancel()">
                    Cancel
                </button>
                <button class="update" type="submit" color="primary" mat-raised-button
                    [disabled]="!recipeDetailsForm.valid">
                    {{ mode === detailsMode.Create ? 'Create' : 'Update' }}
                </button>
            </span>
            <section class="name">
                <mat-form-field class="full-width-field" appearance="standard">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" required />
                    <mat-error *ngIf="recipeDetailsForm.get('name').hasError('required')">
                        Name is required
                    </mat-error>
                </mat-form-field>
            </section>
            <article class="time">
                <mat-form-field class="full-width-field" appearance="standard">
                    <mat-label>Prep Time (mins)</mat-label>
                    <input type="number" matInput formControlName="prepTime" required />
                    <mat-error *ngIf="recipeDetailsForm.get('prepTime').hasError('required')">
                        Prep Time is required
                    </mat-error>
                </mat-form-field>
            </article>
            <article class="time">
                <mat-form-field class="full-width-field" appearance="standard">
                    <mat-label>Cook Time (mins)</mat-label>
                    <input type="number" matInput formControlName="cookTime" required />
                    <mat-error *ngIf="recipeDetailsForm.get('cookTime').hasError('required')">
                        Cook Time is required
                    </mat-error>
                </mat-form-field>
            </article>
        </section>
        <section class="found-from">
            <mat-form-field class="full-width-field" appearance="standard">
                <mat-label>Found From</mat-label>
                <input matInput formControlName="foundFrom" />
            </mat-form-field>
        </section>
        <section class="notes">
            <mat-form-field class="full-width-field" appearance="standard">
                <mat-label>Notes</mat-label>
                <textarea matInput formControlName="notes"></textarea>
            </mat-form-field>
        </section>
        <section class="description">
            <mat-form-field class="full-width-field" appearance="standard">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description" required></textarea>
                <mat-error *ngIf="recipeDetailsForm.get('description').hasError('required')">
                    Description is required
                </mat-error>
            </mat-form-field>
        </section>
        <section class="tags">
            <h2>Tags</h2>
            <section class="tags-typeahead">
                <mat-form-field>
                    <input type="text" placeholder="Search by Tag name" aria-label="Search by Tag name" matInput
                        [formControl]="tagTypeahead" (input)="searchTags()" [matAutocomplete]="tagAutocomplete">
                    <mat-autocomplete autoActiveFirstOption #tagAutocomplete="matAutocomplete"
                        (optionSelected)="addTag($event)">
                        <mat-option *ngFor="let tag of tagSearchResults$ | async" [value]="tag">
                            {{ tag.name }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </section>
            <mat-chip-list aria-label="Tags">
                <mat-chip *ngFor="let tag of tagsFormArray.controls; let i = index;" [disableRipple]="true"
                    [removable]="true" (removed)="removeTag(i)">
                    {{ tag.value.name }}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
            </mat-chip-list>
        </section>
        <section class="ingredients" formArrayName="ingredients">
            <h2>Ingredients</h2>
            <form class="add-ingredient" [formGroup]="addIngredientForm"
                (submit)="addRecipeIngredient(addIngredientForm.value)">
                <mat-form-field appearance="standard">
                    <mat-label>Quantity</mat-label>
                    <input type="text" matInput formControlName="qty" required />
                    <mat-error *ngIf="addIngredientForm.get('qty').hasError('required')">
                        Quantity is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Unit</mat-label>
                    <input type="text" placeholder="Unit" aria-label="Unit" matInput formControlName="unit"
                        [matAutocomplete]="unitAutocomplete" (input)="searchUnits(addIngredientForm.get('unit').value)"
                        required />
                    <mat-error *ngIf="addIngredientForm.get('unit').hasError('required')">
                        Unit is required
                    </mat-error>
                    <mat-autocomplete autoActiveFirstOption #unitAutocomplete="matAutocomplete"
                        [displayWith]="unitDisplay">
                        <mat-option *ngFor="let unitResult of unitSearchResults$ | async" [value]="unitResult">
                            {{ unitResult.name }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Ingredient</mat-label>
                    <input type="text" placeholder="Ingredient" aria-label="Ingredient" matInput
                        formControlName="details" [matAutocomplete]="ingredientAutocomplete"
                        (input)="searchIngredients(addIngredientForm.get('details').value)" required />
                    <mat-error *ngIf="addIngredientForm.get('details').hasError('required')">
                        Ingredient is required
                    </mat-error>
                    <mat-autocomplete autoActiveFirstOption #ingredientAutocomplete="matAutocomplete"
                        [displayWith]="ingredientDisplay">
                        <mat-option *ngFor="let ingredientResult of ingredientSearchResults$ | async"
                            [value]="ingredientResult">
                            {{ ingredientResult.name }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <button type="submit" class="add-ingredient" mat-mini-fab color="primary"
                    [disabled]="!addIngredientForm.valid">
                    <mat-icon>add</mat-icon>
                </button>
            </form>
            <div *ngFor="let ingredient of ingredientsFormArray.controls; let i = index;">
                <ng-container [formGroupName]="i">
                    <mat-icon class="action delete" (click)="removeIngredient(i)">clear</mat-icon>
                    <span class="info">
                        {{ ingredient.value.qty }} {{ getPluralizedUnit(ingredient.value) }} {{
                        ingredient.value.details.name }}
                    </span>
                </ng-container>
            </div>
        </section>
        <section class="directions" formArrayName="directions">
            <h2>Directions</h2>
            <span class="form-actions">
                <button type="button" class="add-direction" mat-mini-fab color="primary"
                    (click)="addDirection({ step: directionsFormArray.controls.length + 1, detail: '' })">
                    <mat-icon>add</mat-icon>
                </button>
            </span>
            <div class="directions" cdkDropList (cdkDropListDropped)="directionMoved($event)">
                <article class="direction" cdkDrag
                    *ngFor="let direction of directionsFormArray.controls; let i = index;">
                    <ng-container [formGroupName]="i">
                        <mat-icon class="action reorder" cdkDragHandle>reorder</mat-icon>
                        <mat-form-field class="full-width-field" appearance="standard">
                            <mat-label>Step {{ direction.value.step }}</mat-label>
                            <textarea matInput formControlName="detail" required></textarea>
                            <mat-error *ngIf="direction.get('detail').hasError('required')">
                                Direction detail is required
                            </mat-error>
                        </mat-form-field>
                        <mat-icon class="action delete" (click)="removeDirection(i)">clear</mat-icon>
                    </ng-container>
                </article>
            </div>
        </section>
        <section class="form-actions">
            <button class="cancel" type="button" mat-raised-button (click)="cancel()">
                Cancel
            </button>
            <button class="update" type="submit" color="primary" mat-raised-button
                [disabled]="!recipeDetailsForm.valid">
                {{ mode === detailsMode.Create ? 'Create' : 'Update' }}
            </button>
        </section>
    </form>
</section>