section {
    margin-bottom: 1em;
}

h1 {
    display: inline-block;
}

h2 {
    display: inline-block;
}

.details {
    margin: 1em auto auto;
    max-width: 60em;

    .times {
        display: flex;
        justify-content: space-between;
    }
}

textarea {
  min-height: 5em;
}

#top-action {
  float: right;
}

.add-ingredient > mat-form-field {
  margin-right: 1rem;
}

.ingredients {
  .info {
    vertical-align: super;
  }
}

.action {
  &.reorder {
    cursor: move;
  }

  &.delete {
    cursor: pointer;
  }

  min-width: 2em;
  text-align: center;
}

.directions {
  margin-top: 1em;
}

.direction {
  display: flex;
  align-items: center;
}

.form-actions {
  float: right;
  text-align: right;

  .cancel {
    margin-right: 1em;
  }
}
